@using DeliveryWolt.Models
@model dynamic
@{
    ViewBag.Title = "ManualDeliveryPage";
}

<h2>ManualDeliveryPage</h2>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Dimensions
        </th>
        <th>
            Weight
        </th>
        <th>
            Due
        </th>
        <th>
            Address
        </th>
        <th>
            Status
        </th>
        <th>
            Cost Modifier
        </th>
        <th>
            Priority
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

    @foreach (Package item in Model.packages)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostModifier)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Priority)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Add", "addPackageToList",  new { id = item.Id, order = @Model.personalpackages.Count })
            </td>
        </tr>
    }


</table>
<table class="table">
    <tr>
        <th>
            Nr.
        </th>
        <th>
            Id
        </th>
        <th>
            Dimensions
        </th>
        <th>
            Weight
        </th>
        <th>
            Due
        </th>
        <th>
            Address
        </th>
        <th>
            Status
        </th>
        <th>
            Cost Modifier
        </th>
        <th>
            Priority
        </th>
        <th>
            City
        </th>
        <th></th>
    </tr>

    
    @foreach (Package item in Model.personalpackages)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Order_by)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Dimensions)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Weight)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Due)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CostModifier)
    </td>
    <th>
        @Html.DisplayFor(modelItem => item.Priority)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.ActionLink("Remove", "clearDeliveryList", new { id = item.Id, order = item.Order_by, res_by = 1 })
    </td>

    @if (@Model.personalpackages.Count > 1)
    {
    <td>
        @if (item.Order_by > 1)
        {
            @Html.ActionLink("^", "movePackage", new { wh = -1, id = item.Id, res_by = 1, order = item.Order_by })
        }
        @if (item.Order_by < @Model.personalpackages.Count)
        {
        @Html.ActionLink("v", "movePackage", new { wh = 1, id = item.Id, res_by = 1, order = item.Order_by })
        }
    </td>
    }
</tr>
    }

</table>

<li>@Html.ActionLink("SAVE", "CreateManualDeliveryList", "Delivery")</li>