@model IEnumerable<DeliveryWolt.Models.Package>
@{
    ViewBag.Title = "openPackageListView";
}

<h2>Package List</h2>
<p>
    @Html.ActionLink("Register Package", "registerPackage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Due)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dimensions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimensions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Priority)
            </th>
            <td>
                @Html.ActionLink("Edit", "changeState", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
